.button{
	-fx-background-color: White;
	-fx-focus-color: Black;
	-fx-border-color: LightGrey;
	
}

.button:hover{	
	-fx-background-color: Blue;
	-fx-text-fill: White;
	-fx-focus-color: Blue;
	-fx-border-color: Blue;
}